/* I SPOSÓB */
/* div {
    display: flex;
    flex-direction: row;
    width: 50%;
}

p {
    float: left;
    width: 50%;
    padding: 5%;
} */

/* II SPOSÓB */
div {
    width: 50%;
}

p {
    float: left;
    width: 50%;
    padding: 1%;
    position: absolute;
}

p:nth-child(2) {
    top: 0;
    right: 0;
}



